<div [formGroup]="answerForm">
    <div class="form-group col-xs-6">
        <label>Answer text</label>
        <input type="text" class="form-control" 
            formControlName="answerText">
        <small [hidden]="answerForm.controls.answerText.valid" 
            class="text-danger">
            Answer text is required
        </small>
    </div>
    <div class="form-group col-xs-6">
        <label>correct</label>
        <input type="checkbox" 
            class="form-control" 
            formControlName="correct">
    </div>
</div>