<div [formGroup]="answerForm">
    <div class="flex-grid-half answerContainer">
        <input type="text" 
            class="col DarkOrange_bg" 
            placeholder="answer"
            formControlName="answerText">
        <label class="col checkboxLabel">correct</label>
        <input type="checkbox" 
            class="col checkboxInput" 
            formControlName="correct">
    </div>
    <div class="flex-grid-half">
        <small *ngIf="!answerForm.controls.answerText.valid && answerForm.controls.answerText.touched" 
            class="text-danger col">
            An answer is required
        </small>
    </div>
</div>