<div [formGroup]="answerForm">
    <div class="flex-grid-thirds">
        <label class="col">Answer text</label>
        <input type="text" 
            class="col" 
            formControlName="answerText">
        <small *ngIf="!answerForm.controls.answerText.valid && answerForm.controls.answerText.touched" 
            class="text-danger col">
            Answer text is required
        </small>
    </div>
    <div class="flex-grid-thirds">
        <label class="col">correct</label>
        <input type="checkbox" 
            class="col" 
            formControlName="correct">
    </div>
</div>