<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Add customer</h4>
      </div>
      <form [formGroup]="myForm" 
        novalidate (ngSubmit)="save(myForm)">
        <div class="form-group">
          <label>Name</label>
          <input type="text" 
            class="form-control" 
            formControlName="name">
          <small *ngIf="!myForm.controls.name.valid" 
            class="text-danger">
              Name is required (minimum 5 characters).
            </small>
        </div>
        <!-- answers -->
        <div formArrayName="answers">
          <div *ngFor="let answer of myForm.controls.answers.controls; let i=index" 
            class="panel panel-default">
            <div class="panel-heading">
              <span>Answer {{i + 1}}</span>
              <span class="glyphicon glyphicon-remove pull-right" 
                *ngIf="myForm.controls.answers.controls.length > 1" 
                (click)="removeAnswer(i)"></span>
            </div>
            <div class="panel-body" 
              [formGroupName]="i">
              <answer [group]="myForm.controls.answers.controls[i]"></answer>
            </div>
          </div>
        </div>

        <div class="margin-20">
          <a (click)="addAnswer()" 
            style="cursor: default">
            Add another answer +
          </a>
        </div>

        <div class="margin-20">
          <button type="submit" 
            class="btn btn-primary pull-right" 
            [disabled]="!myForm.valid">
            Submit</button>
        </div>
        <div class="clearfix"></div>

      </form>
    </div>
  </div>
</div>