.appContainer {
    background: #0147A7;
    color: #fff;
    padding: 30px;
}
.angularBlueLight {
  color: #1E88E5;
}
.angularBlue {
  color: #1976D2;
}
.containerLoggedInStyle {
  transition: padding 0.5s;
  float: left;
}
.imagePos {
    position: relative;
    left: 30%;
    width: 150px;
}
.roleLoggedInStyle {
  float: right;
}
.imageLoggedInStyle {
  width: 40px;;
  left: 0%;
  transition: width .5s, left 1s;
}
.fontStyle {
    color: white;
}
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1;
}
.col-3 {
  flex: 3;
}
.col-4 {
  flex: 4;
}
.col-5 {
  flex: 5;
}
.col-6 {
  flex: 6;
}
.col-7 {
  flex: 7;
}
.col-8 {
  flex: 8;
}
.col-9 {
  flex: 9;
}
.col-10 {
  flex: 10;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}
.flex-grid-half {
  display: flex;
  justify-content: space-between;
}
.flex-grid-half .col {
  width: 50%;
}
@media (max-width: 400px) {
     .flex-grid {
                 display: block;
     }
}
.answerContainer {
  border: solid gray 1px;
  padding: 2%;
}
.checkboxLabel {
  margin-left: 20%;
}

/* --------- forms ---------- */
select, input[type="text"], textarea, input[type="password"], input[type="checkbox"] {
  background-color: #1E88E5;
  color: white;
}
button {
  background-color : #1E88E5; 
  color: white;
}
.text-danger {
  color: HotPink;
  text-align: right;
}
.angularBlue_bg {
  background-color: #1E88E5;
  color: white;
}
.DarkOrange_bg {
  background-color: DarkOrange;
}
.LawnGreen_bg {
  background-color: LawnGreen;
}
.LightCoral_bg {
  background-color: LightCoral;
}
.MediumOrchid_bg {
  background-color: MediumOrchid;
}
.SandyBrown_bg {
  background-color: SandyBrown;
}