<div class="appContainer"
  [ngClass]="{'containerLoggedInStyle': login.profile}" >
    <img class="imagePos"
      [ngClass]="{'imageLoggedInStyle': login.profile}" 
      src="../../images/angular.png">
      <span *ngIf="login.profile"
        [ngClass]="{'roleLoggedInStyle': login.profile}">
        <h4>role: {{login.profile.role}}</h4>
      </span>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <login-form #login></login-form>
      </div>
    </div>
    <div *ngIf="login.profile">
      <!--<hero-list></hero-list>-->
      <div *ngIf="login.profile.role === 'admin' || login.profile.role === 'referee'">
        <game-control></game-control>
        <question-list></question-list>
      </div>
      <div *ngIf="login.profile.role === 'admin'">
        <create-game></create-game>
      </div>
    </div>
</div>